C-Sharp/Client/Service References/FrontWcfService/FrontService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60430/FrontService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FrontWcfService" />
  <xs:import schemaLocation="http://localhost:60430/FrontService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FrontWcfService" minOccurs="0" name="loginInfo" nillable="true" type="q1:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FrontWcfService" minOccurs="0" name="LoginResult" nillable="true" type="q2:LogInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchDecryptProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="str" nillable="true" type="q3:ArrayOfstring" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LaunchDecryptProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LaunchDecryptProcessResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FrontWcfService" minOccurs="0" name="GetStateResult" nillable="true" type="q4:State" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>