C-Sharp/FrontWCFService/Web References/JMSReference/WebServiceAnalysis.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://controller/" targetNamespace="http://controller/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getResult" type="tns:getResult" />
  <xs:element name="getResultResponse" type="tns:getResultResponse" />
  <xs:element name="rechercheDocumentDecrypte" type="tns:rechercheDocumentDecrypte" />
  <xs:element name="rechercheDocumentDecrypteResponse" type="tns:rechercheDocumentDecrypteResponse" />
  <xs:complexType name="getResult">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getResultResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechercheDocumentDecrypte">
    <xs:sequence>
      <xs:element minOccurs="0" name="usernameFile" type="xs:string" />
      <xs:element minOccurs="0" name="decryptFile" type="xs:string" />
      <xs:element minOccurs="0" name="nameFile" type="xs:string" />
      <xs:element minOccurs="0" name="keyDecriptFile" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rechercheDocumentDecrypteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>